<section class="row">
    <div class="col-10 text-center" style="padding-top: 40px;">
        Add a comment to this post:
    </div>
</section>
<section class="row justify-content-center commentID" id="{{commentID}}">
    <div class="col-2"></div>
    <div class="col-6">
        <div style="padding: 20px;"></div>
        <form class="form-floating">
            <input type="text" class="form-control" id="floatingInputContent">
            <label for="floatingInputContent">Enter a comment here</label>
        </form>
        <div style="padding: 10px;"></div>
        <button type="button" class="btn btn-outline-success col-2" id="submitComment">Submit</button>
    </div>
    <div class="col-4"></div>
</section>
<script src="/js/submit.js"></script> 