    <section class="row commentRow border border-primary-subtle py-2 my-4" id="{{id}}" style="padding: 10px;">
    <div class="col-2 commentUser">
        {{user.username}}
    </div>
    <div class="col commentContent">
        {{comment_content}}
    </div>
    <div class="col-2 commentCreated">
        {{created_on}}
    </div>
</section>