<section class="row postrow border border-success-subtle custom-color-2 py-2 my-4" id="{{id}}">
    <div class="col-2">
        <img 
        src="/images/notebook-icon-png-20.jpg"
        class="post-thumbnail">
    </div>
    <div class="col-2">
        {{post_title}}
    </div>
    <div class="col-4">
        {{user.username}}
    </div>
    <div class="col">
        {{created_on}}
    </div>
</section>