<section class="container-fluid">
    <div class="col justify-content-start">
        column of post "cards" go here
        {{#each posts as |post|}}
        {{>post}}
        {{/each}}
    </div>
</section>