<section class="text-center container-fluid">
    <section class="row align-items-center">
        <section class="col"></section>
        <section class="col loginbox">
            <form id="submit">
                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Username</label>
                    <input type="text" class="form-control" id="usernameInput" name="username">
                    <div id="userHelp" class="form-text">Enter your username to login</div>
                </div>
                <div class="mb-3">
                    <label for="passwordInput" class="form-label">Password</label>
                    <input type="password" class="form-control" id="passwordInput" name="password">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check to stay logged in</label>
                </div>
                <button type="submit" class="btn btn-primary" id="loginSubmit">Submit</button>
            </form>
        </section>
        <section class="col"></section>
    </section>
</section>
<script src="/js/login.js"></script>