<section class="postSpace container-fluid">
    <section class="row text-center">
        <div class="col"></div>
        <div class="col-6 titleText h1">{{post_title}}</div>
        <div class="col"></div>
    </section>
    <div class="row text-center h4">Created by: {{user_id}}</div>
    <div class="row text-center align-items-end" style="padding-top: 10px;">{{created_on}}</div>
</section>