<section class="text-center container-fluid">
    <section class="row align-items-center">
        <section class="col"></section>
        <section class="col loginbox">
            Enter an email, username and password below to create an account
            <div style="padding-top: 40px;"></div>
            <form id="signup">
                <div class="mb-3">
                    <label for="emailInput" class="form-label">Email</label>
                    <input type="text" class="form-control" id="emailInput" name="email">
                    <div id="emailHelp" class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Username</label>
                    <input type="text" class="form-control" id="usernameInput" name="username">
                    <div id="userHelp" class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label for="passwordInput" class="form-label">Password</label>
                    <input type="password" class="form-control" id="passwordInput" name="password">
                    <div id="passwordHelp" class="form-text"></div>
                </div>
                <button type="submit" class="btn btn-primary" id="signupSubmit">Submit</button>
            </form>
        </section>
        <section class="col"></section>
    </section>
</section>
<script src="/js/login.js"></script>